# --- Web & API Core ---
fastapi

# --- Deep Learning & NLP ---
transformers
accelerate

# --- Computer Vision & Imaging ---
Pillow
hi-ml-multimodal

# --- MLOps & Remote Model Registry (S3/MLflow) ---
mlflow==3.5.0
boto3
fsspec
s3fs